.layout {
  background-color: rgb(236, 236, 236);
}

.site-layout-content {
  background-color: #ffffff;
  padding: 40px;
  min-height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.logo {
  margin-top: 16px;
  height: 66px;
}

.header {
  min-height: 100px;
  background-color: var(--primary-color);
}

/* footer */
.footer {
  text-align: center;
  height: 50px;
  background-color: var(--footer-color);
  color:  var(--text-footer-color);
  font-size: 16px;
  font-weight: 500;
  padding: 0;
}

.footer-text {
  margin-top: 20px;
}

/* .footer::after{
  width: 10px;
  color: var(--primary-color);
} */

/* .footer::before{
  
} */

