:root{
    --primary-color: rgb(37, 132, 195);
    --primary-hover-color: rgb(48, 142, 204);
    --while-color: #fff;
    --black-color:  #000;
    --text-color: #333;
    --border-color: #b9b8b8;
    --footer-color: rgb(60, 60, 60);
    --text-footer-color: rgb(216, 216, 216);
}

.btn-primary{
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color:  var(--primary-color);
    box-shadow: 1px 1px  rgb(148, 143, 143);
    font-size: 15px;
    color: var(--while-color);
}

.btn-primary:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
    color: var(--while-color);
}

.btn-primary:focus{
    background-color: var(--primary-hover-color);
    cursor: pointer;
    color: var(--while-color);
}

.btn{
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px  rgb(148, 143, 143);
    margin-left: 30px;
    margin-right: 30px;

}