.column-list{
    padding: 12px 22px;
    text-align: start;
    border: 1px solid black;
    color: var(--text-color);
}

.icon-action{
    padding: 0 10px 0 2px;
    margin-right: 16px;
    cursor: pointer;
}

.title-list{
    font-weight: 500;
    font-size: 24px;
    margin-left: 24px;
}

table{
    border-collapse: collapse;
}

.button-add{
    width: 122px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color:  var(--primary-color);
    box-shadow: 1px 2px  rgb(148, 143, 143);
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--while-color);
    font-weight: 500;
    outline: none;
}

.button-add-icon{
    font-size: 20px;
    margin: 6px;
}