/* style for table */
.column-list{
    padding: 10px 18px;
    text-align: start;
    border: 1px solid black;
    color: var(--text-color);
}

table{
    border-collapse: collapse;
}

.title-list{
    font-weight: 500;
    font-size: 24px;
}


/* style for header table */
.button-add{
    width: 122px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    background-color:  var(--primary-color);
    box-shadow: 1px 1px  rgb(148, 143, 143);
    font-size: 14px;
    display: flex;
    align-items: center;
    color: var(--while-color);
    font-weight: 500;
    outline: none;
}

.button-add-icon{
    font-size: 20px;
    margin: 6px;
}

.button-add:hover{
    background-color: var(--primary-hover-color);
    cursor: pointer;
}

.header-list{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    margin-bottom: 8px; 
}

/* style for icon action */
.icon-action{
    cursor: pointer;
    font-size: large;
    padding: 2px;
}

.icon-delete{
    color: red;
}

.icon-edit{
    color: var(--primary-color);
    cursor: pointer;
    margin-left: 12px;
}