.layout {
  background-color: #badfe7;
}

.site-layout-content {
  background-color: #fff;
  padding: 24px;
  min-height: 600px;
  margin-top: 30px;
}

.logo {
  margin-top: 6px;
  margin-left: 50px;
  height: 66px;
}

.header{
    min-height: 80px;
    background-color: #6fb3b8;
}

.footer{
    text-align: center;
    height: 32px;
    margin-top: 8px;
}
